body {
    font-family: InterVariable;
    margin: 0;
    padding: 0;
text-shadow: rgb(255, 255, 255) 1px 0 10px;
}
body:focus{


}

.logo{
    
}

h1 {
    font-family: Excalibur-Regular;
    font-size: 200px;
    color: black;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        padding-left: 37vw;
        display: flex;
        flex-direction: row;
        background-color: #000000;
       
}

h2 {
    font-weight: 700;
    font-size: 2.5em;
    padding-top: 0.3em;
    margin: 0;

}
h3 {
    font-weight: 700;
    font-size: 1.5em;
   
    padding-top: 0.3em;
    margin: 0;
}

p {
    font-weight: 500;
    font-size: 1.125em;
      
}

figure {
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

img {
    width: 100%;
    height: calc(70vh - 7rem);
    object-fit: cover;
}

.slider {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.slider figure {
    min-width: 100%;
    transition: transform 0.3s ease;
}

.img_projet {
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 50vw;
    position: relative;
}

.legende_projet {
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 50vw;
    padding: 1em;
}

.container {
    display: flex;
    flex-direction: row;
}

button {
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    background: rgba(159, 76, 76, 0);
    color: white;
    border: none;
    padding: 0.5rem;

    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 1rem;
}

.next {
    right: 1rem;
}

img.sign {
    width: auto;
    height: auto;
    object-fit: unset;
}

video{
      object-fit: cover;
    width: 100%;
    height: auto;
}



.tester-font {
  font-family: Excalibur-Regular;
    text-transform: uppercase;
      resize: none;
        width: 100%;
  height: auto;
  padding: 20px;
  border: none;
  transition: all 0.3s ease;
  font-size: 64px;
   
}

.tester-font:focus {
  outline: none;

  transform: translateY(-2px);
}



/* Labels */
label {
  display: block;
  margin: 15px 0 8px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}

/* Slider */
#taille {
  width: 200px;
  height: 8px;
  border-radius: 5px;
  background: #000000;
    box-shadow: 0 2px 10px rgb(255, 255, 255);
         
  outline: none;
  -webkit-appearance: none;
  margin:1em;
}

#taille::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0);
          
}

#taille::-moz-range-thumb {
  width: 14px;
  height: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0);
  filter: blur(2px);
       
}

#test2{
    font-family:InterVariable;
padding: .5em;
display: flex;
align-items: center;
flex-direction: row;
color: #000000;
font-size: 1.125em;
font-weight: 500;
}